body{
    --backgroundColor: #f8e7e7;
    --beige: #D19F9D;
    --bordeaux: #800000;
    --borderLine: #E2D0BC;
    margin: 0;
}
.admin-options{
    color:var(--bordeaux);
    margin: auto 7em;
}
.admin{
    background: var(--backgroundColor);
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    height: 25em;
    max-width: 70%;
    max-height: 70%;
    margin: 3em auto;  
    padding: 2em;
    display: flex;
    flex-direction: row;
    overflow-x: auto;

    .user {
        width: 100%;
        cursor: pointer;
        align-self: center;
        display: flex; 
        flex-direction: column; 

        .username {
            align-self: center;
        }

        img{
            border-radius: 50%;
            border: .15em solid var(--bordeaux);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 

            width: 6em;
            height: 6em;
            align-self: center;

        }
        img:hover{
            width: 8em;
            height: 8em;
            background: var(--bordeaux);
            color: white;
            transition: all 0.3s ease-out;
            border-radius: 50%;
    
        }

        
    }
    button{
        background-color: var(--beige);
        align-self: center;

        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        width: 10em;
        height: 3em;
        
    }
    button:hover{background-color: var(--bordeaux);}
    >*{align-self: center;
        padding: 0;
        margin: .5em;
    }
    }

.change{
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    >*{
        margin: 5%;
    }
    form{
        display: flex;
        flex-direction: row;
    }
}