body{
    --backgroundColor: #f8e7e7;
    --bordeaux: #800000; 
}
.anuncios{
    width: 90%;
    height: 8em;
    margin: 3em auto;
    border: 2px solid var(--bordeaux); 
    border-radius: 7px;
    background: var(--backgroundColor);
}
.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2em 5em;
    .product{
        margin-right: 2em;
        margin-bottom: 2em;
        header {
            display: flex;
            flex-direction: row;
            img{
                border-radius: 50%;
                width: 2em;
                height: 2em;
                align-self: center;
                margin-right: 1em;
            }
        }
        .foto{
            height: 13em;
        }
        .price{
            color: #2E6963;
        }
    }
}

button.wishlist {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: inherit;
    cursor: pointer;
}
