body{
    --backgroundColor: #f8e7e7;
    --beige: #D19F9D;
    --bordeaux: #800000;
    --borderLine: #E2D0BC;
}
main{
    display: flex;
    flex-direction: row;
}
img{
    border-radius: 50%;
    width: 2em;
    border: .15em solid var(--beige);
    
}
.sideBar{
    margin: 1%;
    width: 20%;
    h2{
       color: var(--bordeaux); 
    }
}
.pessoas{
    display: flex;
    flex-direction: column;
}
.pessoas .pessoa{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    border: none;
    margin-bottom: 1em;
    cursor: pointer;
    > *{
        align-self: center;
        margin: .2em;
    }
}
.pessoas .pessoa:hover {
    background-color: var(--backgroundColor);
}
.radio-btn{
    display: none;
}
.radio-btn:checked + .pessoa {
    background: var(--beige);
}
.mensagem{
    width: 60%;
    margin: 2em;
    border: 1.5px solid var(--borderLine);
    border-radius: 10px;
    .pessoa{
        border-bottom: 1.5px solid var(--borderLine);
        display: flex;
        flex-direction: row;
        button{
            background: white;
            border: none;
            align-self: center;
            margin-left: auto;
        }
        > *{
            align-self: center;
            margin: .5em;
        }
    }
    .caixa{
        height: 400px;
        overflow-y: auto;
        margin: 1em;
        .msg{
            margin-bottom: 1em;
            margin-left: 7%;
            font-size: small;
            display: flex;
        }
        .fr{
            display: flex;
            flex-direction: row;
            > *{
                align-self: center;
                margin: .5em;
            }
            .time{
                font-size: .5em;
                color: gray;
            }
        }
        
    }
}