header {
    padding: 10px;
}

main{
    --backgroundColor: #f8e7e7;
    --bordeaux: #800000; 
}

p{
    width: 200px;
    color: var(--bordeaux);
    font-size: 30px;
    margin-left: 4.1em;
}

label{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.title-input, .description-input, .brand-input, .model-input, .price-input{
    border: 1.5px solid var(--bordeaux);
    border-radius: 2px; 
    margin: .75em;
}

.form > div {
    display: flex;
    align-items: first baseline;
    margin-right: 5em;
    margin-bottom: 10px;/*espaço entre grupos label-input*/
}


.form>div label {
    margin-right: 15px; /*espaço label e input*/
}

.form {
    display: flex;
}

.left-column, .right-column {
    flex: 1;
    min-width: 200px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.left-column {
    display: flex;
    flex-direction: column;
    max-width: max-content; /*para n ir direita*/
    padding: .5em 4em;
    align-items: center;
    margin-left: 1em;
}

.right-column {
    display: flex;
    flex-direction: column;
}

.title, .description, .brand, .model, .size, 
.condition, .category, .price {
    display: flex;
    align-items: baseline; 
    margin-bottom: 10px; 
}

.title label, .description label,
.brand label, .model label, .size label 
.condition label, .category label, .price label{
    margin-right: 10px; /* espaço label e input */
}

.title input, .description input,
.brand input, .category input, .price input {
    border: 1px solid var(--bordeaux);
    border-radius: 2px;
    margin: 0;
    margin-bottom: 10px;
}

.brand input{
    border: 1px solid #D19F9D;
}

.title input{
    padding-right: 30px; /*size of box*/
}

.condition {
    border: 1px solid var(--bordeaux);
    border-radius: 2px;
    margin: 0;  
    margin-bottom: 10px; 
    background-color: #fff; 
    color: #000; 
    padding-right: 3.6em;
}

.category select {
    border: 1px solid var(--bordeaux);
    border-radius: 2px;
    margin: 0;  
    margin-bottom: 10px; 
    background-color: #fff; 
    color: #000; 
    padding-right: 4.5em;
}

.size input[type="radio"] {
    display: none; 
}

.size2 label {
    display: inline-block; 
    cursor: pointer; 
    color: #D19F9D;
}

.size2 label:active{
    color:var(--bordeaux);
    background-color: var(--backgroundColor);
}

.quadrado {
    width: 170px;
    height: 200px;
    background-color: var(--backgroundColor);
    border-radius: 10px;
    border-style: dotted;
    border-color: #800000;
    border-width: 2px;
    margin-left: 48px;
    text-align: center;
    color: var(--bordeaux);
}

.foto-input {
    display: none;
}

.submitButton{
    background: var(--bordeaux);
    color: white;
    border-radius: 10em;
    padding: .5em 4em;
    border: 3px solid var(--bordeaux);
    margin-left: 50em;
    margin-top: 2.5em;
}
.submitButton:hover{
    background: var(--backgroundColor);
    color: var(--bordeaux);
    border: 3px solid var(--bordeaux);    
}

.price-label{
    margin-left: 3.4em;
}

.size-label{
    margin-left: 3.3em;
}

.model-label{
    margin-left: 3.1em;
}

.model-input{
    padding-right: 2em;
}

.price-input{
    padding-right: 2.6em;
}

#imagemExibida {
    width: 170px; 
    height: 200px; 
    display: block; 
    margin: auto; 
    border-radius: 8px; 
    margin-left:  48px;
}

.edit{
    font-family:'Courier New', Courier, monospace;
    color: black;
    width: 400px;
    font-size: 20px;
    margin-left: 6em;
    margin-bottom: 2.5em;
}

.load-photo{
    margin-top: 80px;
}
