#overlayForm{
    --backgroundColor: #f8e7e7;
    --beige: #D19F9D;
    --bordeaux: #800000;
    --borderLine: #E2D0BC;
    background: white;
    border: .1em solid var(--beige);
    padding: .5em;
    max-width: 35%;
    position: fixed;
    z-index: 999;
    top: 3em;
    left: 19.2em;
    form{
        margin: 1em;
        display: flex;
        flex-direction: column;
        > *{
            display: flex;
            flex-direction: column;
            margin-right: 10em;
            select{
                border: 1px solid var(--beige);
                margin-right: 5px; 
                padding: 5px; 
                width: 120px;
                outline: none;
                color: #800000;
                option{
                    color: #800000;
                }
            }
        }
        .row {
            display: flex;
            flex-direction: row;
            > *{
                margin-right: 4em;
            }
        }

        .price{
            flex-direction: column;
            margin: 5px;
            input{
                margin-left: 2px;
                width: 5em;
                height: 2em;
            }
            
        }
        button{
            background: var(--beige);
            border: 1px solid var(--bordeaux);
            border-radius: 5px;
            margin-top: 20px;
            height: 2em;
        }
    }
    
}

.price input[type="number"]{
    border: 1px solid var(--beige); 
    padding: 5px; 
    width: 5em;
}